<app-loading *ngIf="loading"></app-loading>

<div class="page2">

  <div class="breadcrumbs">
    <ul>
      <li><a href="javascript:void(0)" (click)="getHome()">Home</a></li>
      <li><a href="javascript:void(0)" (click)="getOferta('ucayali')">Ofertas</a></li>
    </ul>
  </div>
  <div class="wrapper-lugares">
    <div class="wrapper-lugares-section">
      <h2>Ofertas exclusivas</h2>
      <h3>
        Aprovecha las promociones turísticas y prepárate para disfrutar de este
        feriado largo.
      </h3>
      <span>Selecciona el destino de tu interés</span>
    </div>
    <ngx-slick-carousel [config]="slideConfig"  class="wrapper-lugares-listado carousel" id="lugares_listado" #slickModal="slick-carousel">

      <div ngxSlickItem class="wrapper-lugares-item active slide" id="ucayali">
        <div (click)="getOferta('ucayali')">
          <div class="wrapper-lugares-item-borde">
            <div class="wrapper-lugares-item-bg">
              <img src="assets/images/ucayali.jpg" alt="Ucayali" />
            </div>
            <div class="wrapper-lugares-item-titulo">
              <h3>Ucayali</h3>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="wrapper-lugares-item slide" id="lambayeque">
        <div (click)="getOferta('lambayeque')">
          <div class="wrapper-lugares-item-borde">
            <div class="wrapper-lugares-item-bg">
              <img src="assets/images/lambayeque.jpg" alt="Lambayeque" />
            </div>
            <div class="wrapper-lugares-item-titulo">
              <h3>Lambayeque</h3>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="wrapper-lugares-item slide" id="la_libertad">
        <div (click)="getOferta('la-libertad')">
          <div class="wrapper-lugares-item-borde">
            <div class="wrapper-lugares-item-bg">
              <img src="assets/images/la-libertad.jpg" alt="la Libertad" />
            </div>
            <div class="wrapper-lugares-item-titulo">
              <h3>La Libertad</h3>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="wrapper-lugares-item slide" id="junin">
        <div (click)="getOferta('junin')">
          <div class="wrapper-lugares-item-borde">
            <div class="wrapper-lugares-item-bg">
              <img src="assets/images/junin.jpg" alt="Junin" />
            </div>
            <div class="wrapper-lugares-item-titulo">
              <h3>Junín</h3>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="wrapper-lugares-item slide" id="arequipa">
        <div (click)="getOferta('arequipa')">
          <div class="wrapper-lugares-item-borde">
            <div class="wrapper-lugares-item-bg">
              <img src="assets/images/arequipa.jpg" alt="Arequipa" />
            </div>
            <div class="wrapper-lugares-item-titulo">
              <h3>Arequipa</h3>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="wrapper-lugares-item slide" id="moquegua">
        <div (click)="getOferta('moquegua')">
          <div class="wrapper-lugares-item-borde">
            <div class="wrapper-lugares-item-bg">
              <img src="assets/images/moquegua.jpg" alt="Moquegua" />
            </div>
            <div class="wrapper-lugares-item-titulo">
              <h3>Moquegua</h3>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>



  </div>
<!--card oferta -->

<div class="wrapper-ofertas" id="ofertas">
    <div class="wrapper-ofertas-section">
      <h2>{{resultados.nombre}}</h2>
    </div>
    <div class="wrapper-ofertas-listado" id="ofertas_listado">

      <app-card-oferta class="wrapper-ofertas-listado" [items]="resultados"></app-card-oferta>

    </div>
    <div class="wrapper-ofertas-btn">
      <span><a href="https://www.ytuqueplanes.com/ofertas-feriado/" target="_blank">Ver todos las ofertas</a></span>
    </div>
</div>


  <div class="wrapper-juego" id="juego">
    <div class="wrapper-juego-listado">
      <div class="wrapper-juego-item">
        <div>
          <div class="wrapper-juego-item-titulo">
            <h2>Descubre los destinos turísticos de esta temporada</h2>
          </div>
          <div class="wrapper-juego-item-btn">
            <span (click)="getDestin('lambayeque')">Ver destinos turísticos</span>
          </div>
        </div>
      </div>
      <div class="wrapper-juego-item">
        <div>
          <div class="wrapper-juego-item-titulo">
            <h2>
              Participa en el sorteo de un tour a Islas Palomino del Callao
              contestando una pregunta aquí
            </h2>
          </div>
          <div class="wrapper-juego-item-btn">
            <span id="boton_juego"
              ><a href="javascript:void(0)" (click)="jugar()">Jugar </a></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-->
<app-modal></app-modal>
<app-footer></app-footer>
