<div class="wrapper-descuentos" id="descuentos">
  <div class="wrapper-descuentos-section">
    <h2>¡Disfruta de las ofertas exclusivas que tenemos para ti!</h2>
    <!--span Aprovecha las ofertas de viaje por el Día Mundial del Turismo b CON HASTA 50% DE DESCUENTO
    -->
  </div>



  <ngx-slick-carousel [config]="slideConfig"  class="wrapper-descuentos-listado carousel" id="descuentos_listado" #slickModal="slick-carousel" >


    <div ngxSlickItem class="wrapper-descuentos-item slide">
      <div class="wrapper-descuentos-item-borde">
        <div class="wrapper-descuentos-item-porcentaje"><span>17%</span>dscto</div>
        <div class="wrapper-descuentos-item-bg"><img src="assets/images/ofertas/ucayali/uca_viridis_tours_4d_3n.jpg" alt=""></div>
        <div class="wrapper-descuentos-item-titulo">
          <h3>Viva la Selva</h3>
          <!--h2 Tour cataratas de Panina – Señor de Locumba-->
        </div>
        <div class="wrapper-descuentos-item-info"><span>04 Días / 03 Noches</span></div>
        <div class="wrapper-descuentos-item-precio"><span>Antes S/. 680</span><span>S/. 565</span></div>
        <div class="wrapper-descuentos-item-btn"><span><a href="https://www.ytuqueplanes.com/oferta/5524_viva-la-selva" target="_blank">¡Quiero el descuento!</a></span></div>
      </div>
    </div>
    <div ngxSlickItem class="wrapper-descuentos-item slide">
      <div class="wrapper-descuentos-item-borde">
        <div class="wrapper-descuentos-item-porcentaje"><span>31%</span>dscto</div>
        <div class="wrapper-descuentos-item-bg"><img src="assets/images/ofertas/la-libertad/lal_ayni_explorers_4d_3n.jpg" alt=""></div>
        <div class="wrapper-descuentos-item-titulo">
          <h3>Tesoros del norte</h3>
        </div>
        <div class="wrapper-descuentos-item-info"><span>04 Días / 03 Noches</span></div>
        <div class="wrapper-descuentos-item-precio"><span>Antes S/. 750</span><span>S/. 520</span></div>
        <div class="wrapper-descuentos-item-btn"><span><a href="https://www.ytuqueplanes.com/oferta/5540_tesoros-del-norte" target="_blank">¡Quiero el descuento!</a></span></div>
      </div>
    </div>
    <div ngxSlickItem class="wrapper-descuentos-item slide">
      <div class="wrapper-descuentos-item-borde">
        <div class="wrapper-descuentos-item-porcentaje"><span>38%</span>dscto</div>
        <div class="wrapper-descuentos-item-bg"><img src="assets/images/ofertas/la-libertad/lal_ayni_explorers_3d_2n.jpg" alt=""></div>
        <div class="wrapper-descuentos-item-titulo">
          <h3>Trujillo es marinera </h3>
        </div>
        <div class="wrapper-descuentos-item-info"><span>03 Días / 02 Noches</span></div>
        <div class="wrapper-descuentos-item-precio"><span>Antes S/. 500</span><span>S/. 310</span></div>
        <div class="wrapper-descuentos-item-btn"><span><a href="https://www.ytuqueplanes.com/oferta/5541_trujillo-es-marinera" target="_blank">¡Quiero el descuento!</a></span></div>
      </div>
    </div>
    <div  ngxSlickItem class="wrapper-descuentos-item slide">
      <div class="wrapper-descuentos-item-borde">
        <div class="wrapper-descuentos-item-porcentaje"><span>23%</span>dscto</div>
        <div class="wrapper-descuentos-item-bg"><img src="assets/images/ofertas/ucayali/uca_laser_viajes_3d_2n.jpg" alt=""></div>
        <div class="wrapper-descuentos-item-titulo">
          <h3>Pucallpa Verde </h3>
          <!--h2 Tour cataratas de Panina – Señor de Locumba-->
        </div>
        <div class="wrapper-descuentos-item-info"><span>03 Días / 02 Noches</span></div>
        <div class="wrapper-descuentos-item-precio"><span>Antes S/. 500</span><span>S/. 385</span></div>
        <div class="wrapper-descuentos-item-btn"><span><a href="https://www.ytuqueplanes.com/oferta/5374_pucallpa-verde" target="_blank">¡Quiero el descuento!</a></span></div>
      </div>
    </div>

  </ngx-slick-carousel>

  <div class="wrapper-descuentos-btn"><span><a href="https://www.ytuqueplanes.com/ofertas-feriado/" target="_blank">Ver todos los descuentos</a></span></div>
</div>
