<div class="wrapper-mobile-menu" id="mobile_menu">
  <div class="wrapper-mobile-menu-container">
    <div class="wrapper-mobile-menu-logo"><img src="assets/images/YTQP-LOGO-HEADER.svg"></div>
    <div class="wrapper-mobile-menu-burger"   id="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="wrapper-mobile-menu-item" id="mobile_menu_item">
    <ul>
      <li routerLinkActive="active"><a href="#" routerLink="inicio" >Inicio</a></li>
      <li routerLinkActive="active"><a href="#"  routerLink="destinos/lambayaque">Destinos</a></li>
      <li routerLinkActive="active"><a href="#" routerLink="ofertas/ucayali">Ofertas</a></li>
      <li ><a href="javascript:void(0)"  id="sort" (click)="callModal()">Sorteo</a></li>
    </ul>
  </div>
</div>
<div class="wrapper-desktop-menu" id="desktop_menu">
  <div class="wrapper-desktop-menu-container">

    <div class="wrapper-desktop-menu-item">
      <ul>
        <li routerLinkActive="active"><a href="#" routerLink="inicio">Inicio</a></li>
        <li routerLinkActive="active"><a href="#" routerLink="destinos/lambayeque">Destinos</a></li>
        <li routerLinkActive="active"><a href="#" routerLink="inicio"><img src="assets/images/YTQP-LOGO-HEADER.svg"></a></li>
        <li routerLinkActive="active"><a href="#" routerLink="ofertas/ucayali">Ofertas</a></li>
        <li routerLinkActive="active"><a href="javascript:void(0)" (click)="callModal()">Sorteo</a></li>
      </ul>
    </div>
  </div>
</div>
