<div class="wrapper-footer">
  <div class="wrapper-footer-section">
    <div class="wrapper-footer-left">
      <div class="wrapper-footer-item">
        <h2>Información para el viajero</h2>
        <ul>

          <li> <a href="https://www.clima.com/peru" target="_blank">Clima y Pronóstico del Tiempo</a></li>
          <li> <a href="http://www.sernanp.gob.pe/" target="_blank">Áreas Naturales Protegidas</a></li>

        </ul>
      </div>
      <div class="wrapper-footer-item">
        <h2>Asistencia para  viajeros</h2>
        <ul>
          <li> <a href="tel:+944492314" target="_blank">944492314</a></li>
          <li> <a href="tel:+01574-0800" target="_blank">574-0800</a></li>
        </ul><span>Atención 24 horas</span><a href="https://www.peru.travel/es-lat/iperu.aspx" target="_blank"><img src="assets/images/footer/peru.png"></a>
      </div>
    </div>
    <div class="wrapper-footer-rigth">
      <div class="wrapper-footer-item"><img src="assets/images/ytuqueplanes.svg" alt=""><img src="assets/images/footer/Logo_Turismo_seguro.svg" alt="">

      </div>
    </div>
    <div class="wrapper-footer-bottom">
      <div class="wrapper-footer-item">
        <ul>
          <li> <a href="https://www.ytuqueplanes.com/terminos-condiciones.aspx" target="_blank">Términos y Condiciones</a></li>
          <li> <a href="https://www.ytuqueplanes.com/sitemap" target="_blank">Mapa de sitio</a></li>
        </ul>
      </div>
      <div class="wrapper-footer-item">
        <ul>
          <li><a href="https://www.promperu.gob.pe/" target="_blank"><img src="assets/images/footer/promperu.png"></a></li>
          <li><a href="https://www.peru.travel/es-pe/" target="_blank"><img src="assets/images/footer/marcaperu.png"></a></li>
        </ul>
      </div>
      <div class="wrapper-footer-item">
        <ul>
          <li><a href="https://www.facebook.com/pages/Visit-Peru/524042817717056" target="_blank"><img src="assets/images/footer/fb.png"></a></li>
          <li><a href="https://twitter.com/conoceelperu" target="_blank"><img src="assets/images/footer/tw.png"></a></li>
          <li><a href="https://www.instagram.com/ytuqueplanes/" target="_blank"><img src="assets/images/footer/ins.png"></a></li>
          <li><a href="http://www.youtube.com/visitperu" target="_blank"><img src="assets/images/footer/you.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
